
/* Notifications */
/* Notifications */
.rhb-notification-slider {
    position: relative;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.rhb-notification-slider .notice {
    border: none; /* Assegura que não há bordas */
    box-shadow:none;
    padding: 0 10px; /* Ajuste no padding para um design mais limpo */
    background-color: #f9f9f9; /* Mantém o fundo claro para contraste */
}

.rhb-notification-controls {
    display: flex;
    justify-content: flex-end; /* Alinha os controles à direita */
    margin-top: 10px;
    width: auto !important; /* Garante que a área de controle ocupe toda a largura */
    padding-right: 20px; /* Padding à direita para alinhamento dos botões */
}

.rhb-notification-controls button {
    padding: 5px 10px;
    margin-left: 5px; /* Espaçamento entre botões */
    background-color: #0073aa; /* Cor do botão */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px; /* Bordas arredondadas para os botões */
}

.rhb-notification-controls button:hover {
    background-color: #005288; /* Cor do botão ao passar o mouse */
}




@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#rhb-notifications-container {
    margin: 20px 50px 20px 0;
    padding: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 0; /* Inicia invisível */
    animation-name: fadeIn; /* Nome da animação */
    animation-duration: 800ms; /* Duração da animação */
    animation-delay: 2s; /* Atraso antes da animação começar */
    animation-fill-mode: forwards; /* Mantém o estado final da animação */
}

.rhb-notification {
    width: -webkit-fill-available;
}

.rhb-notification {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; /* Espaçamento entre notificações */
}

.rhb-notification-icon {
    width: 50px; /* Largura da imagem */
    height: 50px; /* Altura da imagem */
    margin-right: 15px; /* Espaçamento entre a imagem e o texto */
}

.rhb-notification-content {
    flex-grow: 1;
}
.rhb-notification a {
    color: #0073aa; /* Cor do link */
    text-decoration: underline !important; /* Sem sublinhado */
}

.rhb-notification a:hover {
    color: #4ab3e4 !important;
   /* text-decoration: none !important; /* Sublinhado ao passar o mouse */
}
