/* Estilo Geral do Formulário */
#rhb-inquiry-form {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    font-family: var(--rhb-body-font-family);
    color: var(--rhb-body-color);
}

/* Estilo dos campos de seleção e input */
#rhb-inquiry-form select,
#rhb-inquiry-form input {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: var(--rhb-body-font-family);
    color: var(--rhb-body-color);
}

/* Estilo ao focar nos campos */
#rhb-inquiry-form select:focus,
#rhb-inquiry-form input:focus {
    outline: none;
    border-color: var(--rhb-button-hover-color);
    box-shadow: 0 0 0 3px var(--rhb-button-color);
}

/* Estilo do Botão */
#rhb-inquiry-form button {
    background-color: var(--rhb-button-color);
    color: var(--rhb-button-text-color);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    font-family: var(--rhb-body-font-family);
}

/* Efeito hover no botão */
#rhb-inquiry-form button:hover {
    background-color: var(--rhb-button-hover-color);
    color: var(--rhb-button-text-hover-color);
}

/* Estilo do formulário de informações pessoais */
#rhb-personal-info-form {
    display: block; /* Altere conforme necessário */
}
