#rhb-inquiry-results {
  display: flex;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: var(--rhb-body-font-family);
  color: var(--rhb-body-color);
}

.service-result {
  width: 100%;
  display: flex;
  flex-direction: row; /* Organiza os elementos lado a lado */
  margin: 30px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  align-items: stretch; /* Assegura que as colunas tenham a mesma altura */
}

.card-left {
  display: flex;
  flex-direction: column; /* Organiza os elementos verticalmente */
  flex: 1; /* Permite que a coluna esquerda cresça conforme necessário */
  align-items: flex-start; /* Alinha os itens à esquerda */
  border-right: solid 1px #e9e9e9;
}

.service-content {
  flex: 1.8; /* Dá à coluna direita mais espaço */
  padding: 15px 30px 15px 80px;
  font-family: var(--rhb-body-font-family);
  color: var(--rhb-body-color);
}

@media (max-width: 768px) {
  .service-result {
      flex-direction: column;
  }

  .card-left,
  .service-content {
      flex-basis: 100%;
  }
}

.service-author-details {
  padding: 15px;
  font-family: var(--rhb-body-font-family);
  color: var(--rhb-body-color);
}

a.read-more {
  display: block;
  width: 100%;
  padding: 15px;
  text-align: center;
  background: var(--rhb-button-color);
  color: var(--rhb-button-text-color);
}

a.read-more:hover {
  background: var(--rhb-button-hover-color);
  color: var(--rhb-button-text-hover-color);
}

#rhb-inquiry-results p {
  margin: 5px;
  font-family: var(--rhb-body-font-family);
  color: var(--rhb-body-color);
}

img.attachment-medium.size-medium.wp-post-image {
  width: 100%;
}

.service-thumbnail img {
  width: 100%;
}

p.service-taxonomy.service-type {
  margin-top: 50px !important;
}

.service-title {
  font-family: var(--rhb-title-font-family);
  color: var(--rhb-title-color);
}

.service-author-details i {
  margin-right: 10px;
}

.service-content,
.service-author-details,
.service-author-details a {
  font-family: var(--rhb-body-font-family);
  color: var(--rhb-body-color);
}
