/* Importações */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* Geral */
body, html, #wpcontent, #wpfooter, #wpbody-content {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #ffffff;
    padding-top: 0 !important;
}

/* Links */
a, #adminmenu a, .wrap a {
    color: #00a0d2;
}

a:hover, #adminmenu a:hover {
    color: #005077;
    text-decoration: underline;
}

/* Admin Menu */
#adminmenuback, #adminmenuwrap, #adminmenu {
    background-color: #005288; /* Tom de azul moderno */
    width: 17%; /* Largura do menu ajustada */
}

#adminmenu .wp-submenu, #adminmenu {
    background-color: #3387be;
    width: 100%;
}

#adminmenu a, 
#adminmenu .wp-submenu a {
    color: #ffffff;
}

#adminmenu a:hover, 
#adminmenu li.menu-top:hover, 
#adminmenu li.opensub>a.menu-top, 
#adminmenu li>a.menu-top:focus {
    background-color: #0073aa; /* Um azul mais claro para contraste */
    color: #fff;
}

#adminmenu .wp-menu-image:before {
    color: #CDDC39; /* Um contraste alto com o azul */
}

/* Ajustes de layout do menu e conteúdo */
#wpcontent, #wpfooter, .folded #wpcontent, .folded #wpfooter, .auto-fold #wpcontent, .auto-fold #wpfooter {
    margin-left: 17%;
    padding: 80px;
    padding-top: 0;
}

.folded #adminmenu, .folded #adminmenuback, .folded #adminmenuwrap {
    width: 17%;
}

#adminmenu .wp-submenu-head, #adminmenu a.menu-top {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 8px 10px 10px;
}

#adminmenu div.wp-menu-name {
    padding: 4px 8px 0px 4px;
    font-size: 16px;
    letter-spacing: 1px;
}

/* Personalização adicional */
#wpadminbar {
    /* display: none; */
}

.wp-core-ui .button-primary {
    background: #0073aa;
    border-color: #005288;
    color: #fff;
}

.wp-core-ui .button-primary:hover {
    background: #005288;
    border-color: #0073aa;
}

.button {
    background-color: #005288;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    cursor: pointer;
}

.button:hover {
    background-color: #003d66;
}

/* Estilos gerais para a página de perfil e ajustes */
.wrap {
    max-width: 95%;
    margin: 60px auto;
    padding: 35px;
    background: #fff;
    box-shadow: 0px 0px 20px 1px rgb(0 0 0 / 10%);
}

.wrap h1, .wrap h2 {
    color: #005288;
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
    margin-bottom: 20px;
}

.form-table th {
    width: 20%;
    font-weight: 600;
    color: #005288;
}

.form-table td, 
.form-table input[type="text"], 
.form-table textarea, 
.form-table select {
    width: 100%;
    max-width: 400px;
    padding: 8px;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .form-table th, .form-table td {
        display: block;
        width: 100%;
    }

    .wrap {
        padding: 10px;
    }
}

/* Customizações específicas */
.ab-item.ab-empty-item, #adminmenu .wp-submenu-head {
    display: none !important;
}

#adminmenu .wp-submenu a, #adminmenu .wp-has-current-submenu ul>li>a, .folded #adminmenu li.menu-top .wp-submenu>li>a {
    font-size: 15px;
}

#adminmenu .wp-submenu li.current, 
#adminmenu .wp-submenu li.current a, 
#adminmenu .wp-submenu li.current a:hover, 
#comment-status-display, 
#dashboard_right_now .versions .b, 
#ed_reply_toolbar #ed_reply_strong, 
#pass-strength-result.short, 
#pass-strength-result.strong, 
#post-status-display, 
#post-visibility-display, 
.feature-filter .feature-name, 
.item-controls .item-order a, 
.media-item .percent, 
.plugins .name {
    font-weight: 500;
}

#adminmenu .wp-has-current-submenu ul>li>a, .folded #adminmenu li.menu-top .wp-submenu>li>a {
    padding: 5px 20px;
}

div#pdr-custom-logo {
    width: 17%;
    background-color: #00a0d2;
    min-height: 80px;
}

div#pdr-custom-user, #pdr-custom-admin-bar {
    display: flex !important;
    align-content: center;
    justify-content: flex-end !important;
}
#pdr-custom-admin-bar{
    padding: 0 !important;
}
div#pdr-custom-user{
    box-sizing: border-box;
    padding: 0 60px;
}

#adminmenu {
    margin-top: -70px;
}


#menu-management .menu-edit, #menu-settings-column .accordion-container, .comment-ays, .feature-filter, .manage-menus, .menu-item-handle, .popular-tags, .stuffbox, .widget-inside, .widget-top, .widgets-holder-wrap, .wp-editor-container, p.popular-tags, table.widefat {
    border: 1px solid #f1f1f1;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

table.widefat {
    border: 1px solid #f1f1f1;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}
.widefat thead td, .widefat thead th {
    border-bottom: 1px solid #ededed;
}

.widefat tfoot td, .widefat tfoot th {
    border-top: 1px solid #ededed;
}